input, select {
    margin-left: 5px;
}

button {
    background-color: transparent;
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px;
    font-size: 0.9em;
    cursor: pointer;
}